# -e git+https://github.com/sebascuri/rllib.git@master#egg=rllib
numpy
scipy
torch>=1.6.0,<1.7.0
gym>=0.15.4
atari_py>=0.2.6
tqdm
matplotlib>=3.1.0
gpytorch>=1.1.1,<1.2.0
tensorboardX
mujoco-py<2.1,>=2.0
lsf_runner==0.0.5
pandas>=0.25.0
seaborn>=0.11.0
dotmap
pyyaml
dataclasses
pytest